.con {

    .top-navbar {
        width: 100%;
        background-color: #435072;
        color: #fff;
        display: flex;
        
        justify-content: space-between;
        align-items: center;
        padding: 25px 20px;

        ul {
            list-style: none;
            display: flex;
            gap: 30px;

            li {
                display: flex;
                align-items: center;
                gap: 5px;
            }

            li a {
                text-decoration: none;
                color: #fff;
            }
        }

        .sosyla-media {
            display: flex;
        }
    }
}